<html>
    <%- include('./partials/head'); %>
    <body>
    <%- include('./partials/header'); %>
<main>
    <section class="seccion1Main">
        <div class="container">
            <div class="row">
                <div class="main-search">
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button class="btn" data-hover="dropdown" type="button" data-toggle="dropdown" aria-expanded="true">
                                <span class=""><i class="fas fa-search"></i></span>
                                <span><i class="fas fa-angle-down"></i></span>
                            </button>
                            <ul>
                                <li class=""></li>
                                <li class=""></li>
                                <li class=""></li>
                            </ul>
                        </div>
                        <span >

                        </span>
                        <span></span>
                        <span class="barra-blanca"></span>
                    </div>
                    
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="carousel slide">
                                <ol class="carousel-indicators visible-block">
                                    <li class="active"><span class="indicator">Kiss</span></li>
                                    <li class="active"><span class="indicator">Soda Stereo</span></li>
                                    <li class="active"><span class="indicator"></span> Marron5</li>
                                    <li class="active"><span class="indicator"></span>Micheal Bublé</li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item">
                                        <div class="carousel-img">
                                            <a href="">
                                                <img src="" alt="">
                                            </a>
                                        </div>
                                        <div class="carousel-caption">
                                            <h1 class="h2">
                                                <span class="tagline">
                                                    <strong>"Kiss"
                                                        <span></span>
                                                    </strong>
                                                </span>
                                            </h1>
                                            <p></p>
                                            <p><a href="">comprar entradas</a></p>
                                        </div>
                                    </div>
                                <div>
                                    <div class="carousel-img">
                                        <a href="">
                                            <img src="" alt="">
                                        </a>
                                    </div>
                                    <div class="carousel-caption">
                                        <h1 class="h2">
                                            <span class="tagline">
                                                <strong>"Soda Stereo"
                                                    <span></span>
                                                </strong>
                                            </span>
                                        </h1>
                                        <p></p>
                                        <p><a href="">comprar entradas</a></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="carousel-img">
                                        <a href="">
                                            <img src="" alt="">
                                        </a>
                                    </div>
                                    <div class="carousel-caption">
                                        <h1 class="h2">
                                            <span class="tagline">
                                                <strong>"Marron5"
                                                    <span></span>
                                                </strong>
                                            </span>
                                        </h1>
                                        <p></p>
                                        <p><a href="">comprar entradas</a></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="carousel-img">
                                        <a href="">
                                            <img src="" alt="">
                                        </a>
                                    </div>
                                    <div class="carousel-caption">
                                        <h1 class="h2">
                                            <span class="tagline">
                                                <strong>"Micheal Bublé"
                                                    <span></span>
                                                </strong>
                                            </span>
                                        </h1>
                                        <p></p>
                                        <p><a href="">comprar entradas</a></p>
                                    </div>
                                </div>
                            </div>
                            <a class= "left carousel-control" href="">
                                <div class="next png-arrow-right"></div>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="">
                                <div class="next png-arrow-left"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section class="spacer-module info hidden-xs">
        <div class="container">
            <div class="row">
                <div class="caja caja-img">
                    <header>
                        <h2>
                        </h2>
                        <p>
                        </p>
                    </header>
                </div>
                <div class="item col-sm-4  has-icon-header">
                    <header>
                        <div>
                            <h4></h4>
                            <p></p>
                        </div>
                    </header>
                </div>
                <div class="item col-sm-4  has-icon-header">
                    <header>
                        <div>
                        </div>
                        <p>
                        </p>
                    </header>
                </div>
                <div class="item col-sm-4  has-icon-header">
                    <header>
                        <div></div>
                        <h4></h4>
                        <p></p>
                    </header>
                </div>
            </div>
        </div>

    </section>
    <section class="card-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6  col-md-4">
                    <div class="card">
                        <div class="date">
                            <div class="wrapper">
                                <span>
                                </span>
                                <span>
                                </span>
                            </div>
                        </div>
                        <div class="top">
                            <a href="">
                                <img src="" alt="">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="">
                                <span class="card-title h4"></span>
                            </a>
                            <div class="left">
                                <p class="card-text">
                                    <small>
                                        <span class="icon calendar"></span>
                                    </small>
                                </p>
                                <p class="card-text">
                                    <small>
                                        <span class="icon pin"></span>
                                    </small>
                                </p>
                            </div>
                            <div class="right">
                                <p class="card-text text-right">
                                    <a href=""></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <div class="date">
                            <div class="wrapper">
                                <span>
                                </span>
                                <span>
                                </span>
                            </div>
                        </div>
                        <div class="top">
                            <a href="">
                                <img src="" alt="">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="">
                                <span class="card-title h4"></span>
                            </a>
                            <div class="left">
                                <p class="card-text">
                                    <small>
                                        <span class="icon calendar"></span>
                                    </small>
                                </p>
                                <p class="card-text">
                                    <small>
                                        <span class="icon pin"></span>
                                    </small>
                                </p>
                            </div>
                            <div class="right">
                                <p class="card-text text-right">
                                    <a href=""></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6  col-md-4">
                    <div class="card">
                        <div class="date">
                            <div class="wrapper">
                                <span>
                                </span>
                                <span>
                                </span>
                            </div>
                        </div>
                        <div class="top">
                            <a href="">
                                <img src="" alt="">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="">
                                <span class="card-title h4"></span>
                            </a>
                            <div class="left">
                                <p class="card-text">
                                    <small>
                                        <span class="icon calendar"></span>
                                    </small>
                                </p>
                                <p class="card-text">
                                    <small>
                                        <span class="icon pin"></span>
                                    </small>
                                </p>
                            </div>
                            <div class="right">
                                <p class="card-text text-right">
                                    <a href=""></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <section class="spacer-module another-events">
        <div class="row">
            <div class="caja ">
                <header>
                    <h2 class="museosanslight"></h2>
                </header>
            </div>
            <div class="caja ">
                <div>
                    <div>
                        <div>
                            <div class="card-header">
                                <span>
                                    <span></span>
                                </span>
                            </div>
                            <div class="card-block"></div>
                        </div>
                        <div class="card teathers">
                            <div>
                                <span>
                                    <span></span>
                                </span>
                            </div>
                            <div class="card-block">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href=""></a>
                                    </li>
                                    <li>
                                        <a href=""></a>
                                    </li>
                                    <li>
                                        <a href=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card music">
                            <div class="card-header">
                                <span>
                                    <span></span>
                                </span>
                            </div>
                            <div class="card-block">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href=""></a>
                                    </li>
                                    <li>
                                        <a href=""></a>
                                    </li>
                                    <li>
                                        <a href=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="index">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 ">
                    <h4></h4>
                </div>
                <div class="col-sm-3 ">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="spacer-module media hidden-xs">
        <div class="container">
            <div class="row">
                <div class="caja ">
                    <header>
                        <div class="icon press"></div>
                    </header>
                </div>
                <div class="caja ">
                    <ul>
                        <li><a href=""><img src="" alt=""></a></li>
                        <li><a href=""><img src="" alt=""></a></li>
                        <li><a href=""><img src="" alt=""></a></li>
                        <li><a href=""><img src="" alt=""></a></li>
                        <li><a href=""><img src="" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="spacer-module howto hidden-xs">
        <div class="container">
            <div class="row">
                <div class="caja ">
                    <header>
                        <h2></h2>
                        <p></p>
                    </header>
                </div>
                <div class="col-sm-4  has-icon-header">
                    <header>
                        <div class="icon search-1"></div>
                        <h4>encontraras tu entrada</h4>
                        <p></p>
                    </header>
                </div>
                <div>
                    <header>
                        <div class="icon truck"></div>
                        <h4></h4>
                        <p></p>
                    </header>
                </div>
                <div>
                    <header>
                        <div class="icon hand-2"></div>
                        <h4></h4>
                        <p></p>
                    </header>
                </div>
            </div>
        </div>
    </section><!--
            <p>BARRA DE BUSQUEDA</p>
            <figure><img src="/img/granrex.jpg"></img><h3>Titulo Producto</h3><h4>Precio</h4><p>Fecha y hora</p></figure>-->
</main>
<%- include('./partials/footer'); %>
    </body>
</html>
