<html>
    <head>
       <meta charset="UTF-8">
       <title>BAFEBE</title>
       <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet'></link>
       <meta name='viewport' content='width=device-width', initial-scale=1></meta>
       <link href='/styles/html.css' rel='stylesheet'></link>
       <link href='/styles/header.css' rel='stylesheet'></link>
       <link href='/styles/footer.css' rel='stylesheet'></link> 
    </head>
    <body>
        <header>
            <section><a href='/'><img src='/img/bafebe.png' class="logo"></img></a></section>
            <section><p class='cuotas'>COMPRA EN CUOTAS SIN INTERES</p></section>
        </header>
        <main></main>
        <footer></footer>
    </body>
</html>