<html>
    <%- include('./partials/head'); %>
    <body>
    <%- include('./partials/header'); %>
        
        <main>
            <form action="/" method="POST">
                <article class="barra">
                    <input type="text" name="name" id="name" placeholder="Nombre de Usuario">
                </article>
                <article class="barra">
                    <input type="password" name="usuario-passwd" id="usuario-passwd" placeholder="Ingresa tu contraseña">
                </article>
                <article class="barra">
                    <button type="submit" class="buttom" >
                        Enviar
                    </button>
                </article>
            </form>
           
        </main>
    </body>
    <%- include('./partials/footer'); %>
</html>