<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
    <body>
    <%- include('./partials/header'); %>            
    
    <main>
        <fieldset class="cuadro">
            <form id="forma" action="" method="POST" autocomplete="off">
                <article>   
                    <input type="text" id="nombre" name="nombre" 
                    placeholder="Nombre y apellido" required="">
                    <span class="validity"></span>
                </article>
                <article>
                        <input type="text" name="usuario" id="usuario"
                            placeholder="Nombre de usuario" required="">
                </article>
                <article>
                    <input type="email" name="email" id="email"
                        placeholder="E-mail" required="">
                </article>
                <article>
                    <label class="texto" id="fecha_nacimiento" >Fecha de nacimiento</label>
                    <input type="date" id="date" name="date" class="fecha_nacmiento_date"> 
                </article>
                <article>
                    <label for="domicilio"></label>
                        <input type="text" name="domicilio" id="domicilio" 
                        placeholder="Domicilio"> 
                </article>
                <article id="perfil-de-usuario" >
                    <label class="texto">Perfil del usuario</label>
                        
                            <label for="comprador" class="tipo_usuario">
                                <input type="radio" id="comprador" name="Perfil" value="comprador" >
                                    comprador
                            </label>
                            <label for="vendedor" class="tipo_usuario" > 
                                <input type="radio" id="vendedor"  name="Perfil" value="vendedor" >
                                    vendedor
                            </label>
                        
                </article>
                <article class="inter" >
                    <label class="texto">Intereses</label>
                    <label for="intereses1" class="intereses"> 
                        <input type="checkbox" id="intereses" name="intereses1" value="electro">
                            electro
                    </label> 
                    <label for="vehicle2" class="intereses"> 
                        <input type="checkbox" id="intereses2" name="intereses2" value="moda" id="input_intereses">
                            moda
                    </label>   
                    <label for="intereses3" class="intereses">
                        <input type="checkbox" id="intereses3" name="intereses3" value="hogar" class="input_intereses">
                            hogar
                    </label>      
                    <label for="intereses3" class="intereses"> 
                        <input type="checkbox" id="vehicle3" name="vehicle3" value="jugueteria" class="input_intereses">
                            jugueteria
                    </label> 
                    <label for="intereses3"class="intereses">
                        <input type="checkbox" id="intereses3" name="intereses3" value="vida-sana" class="input_intereses">
                            vida-sana
                    </label>
                </article>
                <article>
                    <label for="file" class="texto" >Foto de usuario</label>
                    <input type="file" id="foto_x" name="foto_x">
                </article>
                <article>
                    <input type="password" placeholder="Password" id="password" required>
                </article>
                <article>
                    <input type="password" placeholder="Confirm Password" id="confirm_password" required>
                </article>
                <fieldset class="boton-registro">
                    <button type="submit" class="buttom-blue">REGISTRARME</button>
                </fieldset>
                <fieldset class="boton-registro">    
                    <button type="reset" class="buttom-green">REINICIAR</button>
                </fieldset>
            </form>
        </fieldset>
    </main>
</body>
    <%- include('./partials/footer'); %>
</html>