<footer>
    <div class="suscribe">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 ">
                    <h4>no te pierdas ni un evento</h4>
                    <p> recibi en tu email todas las novedades</p> 
                </div>
                <div class="col-sm-7  main-suscriber">
                    <form action="">
                        <div>
                            <span></span>
                            <input type="text">
                            <button></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="pages">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 ">
                    <h4></h4>
                    <ul class="list-unstyled">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h4></h4>
                    <ul class="list-unstyled">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h4></h4>
                    <ul class="list-unstyled">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h4></h4>
                    <a href="">
                        <div class="png-small-mail hidden-xs"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="payments">
        <div class="container">
            <div class="row">
                <div class=" hidden-xs">
                    <img src="" alt="">
                </div>
            </div>
            <div class="row">
                <div class="">
                    <p class="text-center"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="">
                    <p> <a href=""></a>
                        <a href=""></a>
                        <a href=""></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>