<header class="banner-msg">
    <article>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, corporis possimus eligendi aperiam nobis iste qui quisquam labore mollitia impedit, odio ullam officia nam quaerat, quis odit. Suscipit, quasi nesciunt.</span>
    </article>
    <section class="top-bar">
            <fieldset class="caja-header">
                <article class="caja-img">
                    <a href='/'>
                        <img src='/img/bafebe.png' class="logo">
                        </img>
                    </a>
                    <h2> </h2>
                </article>
                <article class="compra-en-cuotas">
                    <p class='cuotas'>COMPRA EN CUOTAS SIN INTERES</p>
                </article>
                <article class="caja caja-derecha">
                    <ul class="lista">
                        <li><a href="/login" class="lista">Ingresa</a></li>
                        <li><a href="/register" class="lista">Registrate</a></li>
                    </ul>
                </article>
            </fieldset>
       
    </section>
</header>