<head>
    <meta charset="UTF-8">
    <title>BAFEBE</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet'></link>
    <meta name='viewport' content='width=device-width', initial-scale=1></meta>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href='/styles/index.css' rel='stylesheet'></link>
    <link href='/styles/header.css' rel='stylesheet'></link>
    <link href='/styles/footer.css' rel='stylesheet'></link>
    <link href='/styles/normalice.css' rel='stylesheet'></link> 
    <link href='/styles/login.css' rel='stylesheet'></link>
    <link href='/styles/register.css' rel='stylesheet'></link>
    
 </head>