.header_top{
    display: flex;
    margin-bottom: 2vh;
}
.logo{
    width: 30%;
    float: left;
}
a img{
    width: 100%;
}
.caja_formulario{
    display: flex;
    padding-left: 23vw;
}
.caja_formulario h2{
    margin: auto;
    width: 100%;
}