.banner-msg{
    background-color: #F2F2F2;
    color: #484b52;
    font-family: sans-serif;
    font-size: 14px;
    padding: 4px;
    text-align: center;
    width: 100%;
}
.top-bar{    
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 12px 0 rgb(4 4 4 / 40%);
    position: relative;
    z-index: 10000;
    min-height: 60px; 
}



.logo {
    width: 100%;
}
.caja-img{
    width: 25%;
    margin: auto;
}
.caja-derecha{
    display: none;
}
.compra-en-cuotas{
    display: none;
}


.caja-header article{
    display: block;
    float: left;
}

.lista li a{
    color: #ffc660 ;
}
.lista li{
    color: white;
    margin-top: 1vh;

}


@media (min-width: 768px){
.caja-derecha{
    width: 19%;
    
    align-items: center;
    border-radius: 0.4rem;
}
.compra-en-cuotas{
    
    
    color: #ffc660;
    justify-content: center;
    width: 56%;
    margin-top: 30px;
    text-align: center;
}


.caja-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color:black;
}

}